
.keys.txt
.ipynb_checkpoints
.data/original_corpus
.data/corpus_to_label
.data/corpus_labeled/diferentes
.data/rotulaçao1[anisiofilho].csv
.data/rotulaçao1[debora].csv
.data/rotulaçao2[andre].csv
.data/rotulaçao[anisiofilho].csv
.data/corpus_labeled/iguais/legacy
.data/corpus_labeled/iguais/legacy/02_text_preprocessing_base.csv
.data/corpus_labeled/iguais/legacy/05_word2vec_model_creation_base.csv
.legacy
.models/06_parameters_selection_base.csv
.models/07_model_avaliation_base.csv
.00_crawler_twiiter.ipynb
.01_compare_training_and_cohen_kappa.ipynb
.02_text_preprocessing.ipynb
.03_geracao_caracteristicas.ipynb
.04_exploratory_analysis.ipynb
.05_word2vec_model_creation.ipynb
.06_parameters_selection-RF_OV_False_UN_False.ipynb
.06_parameters_selection-RF_OV_False_UN_True.ipynb
.06_parameters_selection-RF_OV_True_UN_False.ipynb
.06_parameters_selection-RF_OV_True_UN_True.ipynb
.06_parameters_selection-XGB_OV_False_UN_False.ipynb
.06_parameters_selection-XGB_OV_False_UN_True.ipynb
.06_parameters_selection-XGB_OV_True_UN_False.ipynb
.06_parameters_selection-XGB_OV_True_UN_True.ipynb
.07_model_avaliation.ipynb
.08_statistics_fscore.ipynb