#_py-xgboost-mutex
aiohttp
anyio
argon2-cffi
async-timeout
async_generator
attrs
babel
backcall
#backports
backports.functools_lru_cache
#blas
bleach
blinker
boto
boto3
botocore
brotlipy

cachetools
catalogue

cffi
chardet
click
colorama
cryptography
cycler
cymem
#cython-blis
dataclasses
debugpy
decorator
defusedxml
entrypoints
#freetype
geographiclib
geopy
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
icc_rt
icu
idna
imbalanced-learn
importlib-metadata
importlib_metadata
intel-openmp
ipykernel
ipython
ipython_genutils
ipywidgets
jedi
jinja2
jmespath
joblib
#jpeg
json5
jsonschema
jupyter_client
jupyter_core
jupyter_server
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
#libcrc32c
#libpng
#libprotobuf
#libsodium
#libtiff
#libxgboost
#lz4-c
#m2w64-gcc-libgfortran
#m2w64-gcc-libs
#m2w64-gcc-libs-core
#m2w64-g
#m2w64-libwinpthread-git
markupsafe
matplotlib
#matplotlib-base
matplotlib-inline
mistune
mkl
#mkl-service
#mkl_fft
#mkl_random
#msys2-conda-epoch
multidict
murmurhash
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
numpy
#numpy-base
oauthlib
olefile

packaging
pandas
pandoc
pandocfilters
parso
pathy
pickleshare
pillow

preshed
prometheus_client
prompt-toolkit
protobuf
#py-xgboost
py4j
pyasn1
pyasn1-modules
pycparser
pydantic
pygments
pyjwt
pyopenssl
pyparsing
#pyqt
pyrsistent
pysocks
pyspellchecker

python-dateutil
#python_abi
pytz
pywin32
pywinpty
pyzmq
#qt
regex
requests
requests-oauthlib
requests-unixsocket
rsa
s3transfer
scikit-learn
scipy
send2trash

shellingham
sip
six
smart_open
sniffio
spacy
spacy-legacy

srsly
terminado
#testpat
thinc
threadpoolctl

tornado
tqdm
traitlets
tweepy
typer
typing-extensions
typing_extensions
urllib3

wasabi
wcwidth
webencodings
websocket-client

widgetsnbextension
win_inet_pton

#winpty
wordcloud
xgboost

yarl
#zeromq
zipp

zstd

cogroo4py
deprecated
ekphrasis
ftfy
jpype1
termcolor
ujson
wrapt

